header{
  text-align: center;
  color: red;
  height: 50px;
  background-color: black;
}
.main-container{
  display: flex;
}
.main-container .main{
  flex: 2;
  background-color: aqua;
}
.main-container .main .title-container{
  display: flex;
  align-content: space-between;
  justify-content: start;
  background-color: blue;
}
.main-container .main .title-container .badge{
  flex: 1;
  width: 100px;
  background-color: red;
  margin-right: 10px;
  margin: 20px;
}
.main-container .main .title-container .car-title{
  flex: 7;
  background-color: red;
}
/* CAR LOCATION */
.location-container{
  display: flex;
  align-items: end;
}
.new-indicator{
  margin-left: 10px;
  padding: 3px;
  color: aliceblue;
  background-color: green;
}
.main-container .sidebar{
  flex: 1;
}

/* PRODUCT */
.main-img{
  
  width: 100%;
  aspect-ratio: 3/4;
  height: 450px;
  background-color: azure;
  object-fit: cover;
}
/* PRODUCT */

/* overview */
.overview-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.overview-container .item{
  border:black 1px solid ;
  border-radius: 5px;
  padding: 10px 35px;
  width: 100px;
  text-align: center;
  margin: 10px;

}
/* overview */
table{
  padding: 50px;
}
th{
  border-bottom: 1px solid black;
  padding: 10px;
}
.head{
  color: rebeccapurple;
}