<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <header>
    <h2>Ghost Potocols</h2>
  </header>
  <body>
    <div class="main-container">
      <div class="sidebar">sidebar</div>
      <div class="main">
        main container
        <div class="title-container">
          <h1 class="car-title">Toyota Corolla Altis Grande CVT-i 1.8 2020</h1>
          <img
            class="badge"
            src="https://wsa2.pakwheels.com/assets/pw-certified-e59a8598eee3baaa3bb51f2c2769a78f.svg"
            alt=""
          />
        </div>
        <div class="location-container">
          <h3 class="car-location">Gulistan-e-Jauhar, Karachi Sindh</h3>
          <h5 class="new-indicator">New</h5>
        </div>

        <!-- GALLERY -->
        <div class="gallery-container">
          <div class="main-img">
            <img
              class="main-img"
              src="https://cache2.pakwheels.com/ad_pictures/8373/toyota-corolla-altis-1-8-grande-automatic-2020-83730759.webp"
              alt=""
            />
          </div>
        </div>
        <!-- GALLERY -->

        <!-- OVERVIEW -->
        <div class="overview-container">
          <div class="item">
            <h3>2020</h3>
          </div>
          <div class="item">
            <h3>3,165</h3>
          </div>
          <div class="item">
            <h3>Petrol</h3>
          </div>
          <div class="item">
            <h3>Automatic</h3>
          </div>
        </div>
        <!-- OVERVIEW -->

        <!-- Details -->
        <table width="100%">
          <tr>
            <th class="head">Registered</th>
            <th>Karachi</th>
            <th class="head">Color</th>
            <th>white</th>
          </tr>
          <tr>
            <th class="head">Body Type</th>
            <th>Sedan</th>
            <th class="head">Engine Capacity</th>
            <th>1798</th>
          </tr>
          <tr>
            <th class="head">Stock Id</th>
            <th>786461</th>
          </tr>
        </table>
        <!-- Details -->
      </div>
      <div class="sidebar">sidebar</div>
    </div>
  </body>
</html>
