.logobar{
 background-color: black;
 height: 50px;
 display: flex;
 justify-content: center;   
}
.logobar img{
    height: 100%;
    background-color: red;
    
}

.main-container{
  display: flex;
}
.main-container .main{
  flex: 2;
  background-color: aqua;
}
.main-container .sidebar{
    flex: 1;
    background-color: aqua;
  }




/* .cars-section{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    scroll-snap-type: x mandatory;
    width: 80%;  Adjust as needed 
} */

